.content {
    width: 90%;
    margin: auto;
    padding: 10px;
    background: #fff;
    color: #333;
    overflow: hidden; /* penting untuk clear float */
}

.border {
    border: 2px solid #4887b9;
    margin-top: 10px;
    padding: 10px;
}

.kiri {
    width: 70%;
    float: left;
    background: #fff;
}

.kanan {
    width: 30%;
    float: left;
    background: #fff;
}

.undercor {
    text-decoration: none;
}

.footer {
    width: 90%;
    margin: auto;
    height: 40px;
    line-height: 40px;
    background: #417aa8;
    color: #fff;
    margin-bottom: 10px;
}
